.item-side {
  text-align: right;
  margin-right: 10px;
}

.item-side div {
  margin-top: 5px;
  margin-bottom: 5px;
}

.posted-by {
  position: absolute;
  bottom: 2px;
  right: 10px;
}

.border {
  background-color: aqua;
  /* box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);

  border-radius: 0.28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15); */
}
